@media only screen and (min-width: 768px) {
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(255,255,255, 0.95);
  color: hsl(234, 89.5%, 73.9%);
  padding: 10px;
  z-index: 1000;
}

  .logo {
  font-weight: bold;
  font-size: 2rem;
  }
  
  .menu-icon {
    display: none;
  }
  
  nav ul.hidden{
    display: flex;
    width: auto;
  }
  
  ul li {
    font-size: 1.2rem;
    padding: 0 40px;
  }

  li a {
    display: flex;
    flex-direction: row;
    padding: auto 20px;
  }
  
  /* HOME */
  section h3 {
    font-size: 2rem;
  }
  .p2 {
    font-size: 1.2rem;
  }
  .cta-button a {
    font-size: 1.2rem;
  }

  /* ORDER */
  form {
    width: 80%;
    margin: 50px auto;
    margin-top: 90px;
    padding: 20px;
  }
  
  input, label, select {
    padding: 10px;
    font-size: 1.2rem;
    margin: 5px 0;
  
  }
  .wkwk {
    display: flex;
    flex-direction: column;
  }
  .submit-btn {
    width: 100%;
    padding: 15px 0;
    margin: auto ;
    font-size: 1.2rem;
    margin-top: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  }
  
  /* ABOUT */
  .about-container {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: none;
    margin: 30px auto;
    padding: 20px;
  }
  section .hidden {
    display: inline;
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  
  #lokjo, #promo {
    padding-top: 25px;
    font-size: 2rem;
  }
}
